body {
    	background-image: url("/images/background.jpg");
    	-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;}
  	}

.pow {
	width: 140px;
	display: none;
}

#pow1 {
	position: absolute;
	top: 220px;
	left: 70px;
	z-index: 2;
}

#pow2 {
	position: absolute;
	top: 120px;
	left: 270px;
	z-index: 2;
}

#pow3 {
	position: absolute;
	top: 220px;
	left: 470px;
	z-index: 2;
}

#pow4 {
	position: absolute;
	top: 120px;
	left: 670px;
	z-index: 2;
}

#pow5 {
	position: absolute;
	top: 380px;
	left: 170px;
	z-index: 2;
}

#pow6 {
	position: absolute;
	top: 420px;
	left: 420px;
	z-index: 2;
}

#pow7 {
	position: absolute;
	top: 370px;
	left: 720px;
	z-index: 2;
}


.molepics {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.dirtImg {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.moles {
	height: 300px;
	width: 300px;
}

#mole1 {
	position: absolute;
	left: 100px;
	top: 300px;
	z-index:0;
}

#dirt1 {
	position: absolute;
	left: 80px;
	top: 290px;
	
}

#mole2 {
	position: absolute;
	left: 300px;
	top: 200px;
	z-index:0;
}

#dirt2 {
	position: absolute;
	left: 275px;
	top: 190px;  
}

#mole3 {
	position: absolute;
	left: 500px;
	top: 300px;
	z-index:0;
}

#dirt3 {
	position: absolute;
	left: 475px;
	top: 290px;
}

#mole4 {
	position: absolute;
	left: 700px;
	top: 200px;
	z-index:0;
}

#dirt4 {
	position: absolute;
	left: 675px;
	top: 190px;
}

#mole5 {
	position: absolute;
	left: 200px;
	top: 450px;
	z-index:0;
}

#dirt5 {
	position: absolute;
	left: 175px;
	top: 440px;
}

#mole6 {
	position: absolute;
	left: 450px;
	top: 500px;
	z-index:0;
}

#dirt6 {
	position: absolute;
	left: 425px;
	top: 490px;
}

#mole7 {
	position: absolute;
	left: 750px;
	top: 450px;
	z-index:0;
}

#dirt7 {
	position: absolute;
	left: 725px;
	top: 435px;
}